/* Tablets/iPad */
@media all and (max-device-width: 980px) and (min-device-width: 481px) {

    div#first {
        background: url("/static/main/css/images/1-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#second {
        background: url("/static/main/css/images/2-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#third {
        background: url("/static/main/css/images/3-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#main-title h1 {
        color: white;
        font-family: 'Jura', sans-serif !important;
        font-size: 50pt;
        text-shadow: 2px 2px gray;
    }

    div#portfolio-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#how-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#values-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#services-section {
	    margin: 0 auto;
	    background: #f8f8f8;;
	    background-size: 100vw 100vh;
	    border-top: 1px solid #c6d2d2;
    }

    #icons table td {
        padding: 5vh 8vw;
    }

    #icons img {
        width: 15vw;
        height: auto;
        border-radius: 15vw;
    }

    ul#note {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul#note li a{
        height:auto;
        width:25vw;
        padding:1vw;
    }

    ul#note li h2{
        font-size:80%;
        font-weight:bold;
        padding-bottom:1vh;
    }
    ul#note li p{
        font-size:100%;
    }

    ul#projects {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul#projects li a{
        height:auto;
        width:25vw;
        padding:1vw;
    }

    ul#projects li h2{
        font-size:100%;
        font-weight:bold;
        padding-bottom:1vh;
    }
    ul#projects li p{
        font-size:100%;
    }
}

/* Phones */
@media all and (max-device-width: 480px) {

    div#first {
        background: url("/static/main/css/images/1-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#second {
        background: url("/static/main/css/images/2-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#third {
        background: url("/static/main/css/images/3-middle.jpg") no-repeat center center;
        background-size: cover;
    }

    div#main-title h1 {
        color: white;
        font-family: 'Jura', sans-serif !important;
        font-size: 40pt;
        text-shadow: 2px 2px gray;
    }

    div#portfolio-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#how-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#values-section {
	    margin: 0 auto;
	    background: #f8f8f8;
	    background-size: 100vw 100vh;
    }

    div#services-section {
	    margin: 0 auto;
	    background: #f8f8f8;;
	    background-size: 100vw 100vh;
	    border-top: 1px solid #c6d2d2;
    }

    #icons table td {
        padding: 5vh 8vw;
    }

    #icons img {
        width: 15vw;
        height: auto;
        border-radius: 15vw;
    }

    ul#note {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul#note li a{
        height:auto;
        width:25vw;
        padding:1px;
    }

    ul#note li h2{
        font-size:60%;
        font-weight:bold;
        padding-bottom:1vh;
    }
    ul#note li p{
        font-size:60%;
    }


    ul#projects {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul#projects li a{
        height:auto;
        width:25vw;
        padding:1px;
    }

    ul#projects li h2{
        font-size:60%;
        font-weight:bold;
        padding-bottom:1vh;
    }
    ul#projects li p{
        font-size:60%;
    }
}

