body {
	text-align: center;
    margin: 0;	
    padding: 0;
	font-family: 'Jura', sans-serif !important;
    font-size:9px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-bg{
	background-color: white;
    opacity: 1;
}

/* Menu */

.navbar-brand > img {
	height: 100%;
    vertical-align: middle;
}

.navbar {
    margin-bottom: 0 !important;
}

/* Main section */

div#main-section {
	margin: 0 auto;
    padding: 0;
	background: white;
    min-height: 100vh;
    color: #cfc8c5;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

.slideshow-container .image {
    width: 100%;
    height: 100vh;
}

.mySlides {
    display: none;
}

/* Fading animation */
.fading {
    -webkit-animation-name: fading;
    -webkit-animation-duration: 1.5s;
    animation-name: fading;
    animation-duration: 1.5s;
}

@-webkit-keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div#main-title {
    position:absolute; 
    top:25vh; 
    left:50%; 
    transform:translate(-50%, 0); 
    width:100%; /* You can specify ANY width values here */ 
}

/* Separator */

div#separator {
    display: block;
	height: 10vh;
    min-height: 65px;
	margin: 0 auto;
    background: rgba(255,255,255,0);
    width: 100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#separator img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    vertical-align: middle;
}

div#first {
    background: url("/static/main/css/images/1.jpg") no-repeat center center fixed;
    background-size: cover;
}

div#second {
    background: url("/static/main/css/images/2.jpg") no-repeat center center fixed;
    background-size: cover;
}

div#third {
    background: url("/static/main/css/images/3.jpg") no-repeat center center fixed;
    background-size: cover;
}

div#main-title h1 {
    color: white;
	font-family: 'Jura', sans-serif !important;
    font-size: 50pt;
    text-shadow: 2px 2px gray;
}

/* About section */

.header {
	font-family: 'Jura', sans-serif !important;
    margin-bottom: 5vh;
    color: black;
}

div#about-section {
	margin: 0 auto;
	background: #f8f8f8;
	background-size: 100vw 100vh;
    min-height: 100vh;
    top: 0;
    left: 0;
    color: #cfc8c5;
}

.comptency {
    text-align: left;
    padding: 10px;
}

div#container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div#chart-container-1 {
    display: inline-block;
    width: 35vw;
    vertical-align: top;
    background-color: rgba(255,255,255,0.0);
}

div#chart { 
    width: 100%;
    margin: 0 auto;
} 

.chart {
    list-style-type: none;
    padding: 0;
}

/* References: http://geoffgraham.me/creating-a-responsive-css-bar-chart/ */
.chart { margin: 0 auto; width: 80%; min-width: 140px; }

.chart li {
    border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
    box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; /* Remember vendor prefixes */
    padding: 3vh 0;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.orange {
    background: #ff9e2c;
    border: 1px solid #ff9e2c;
    @include background-image(linear-gradient(lighten(#ff9e2c, 10%), #ff9e2c 70%));
}

.teal { 
    background: #4ecdc4;
    border: 1px solid #4ecdc4;
    @include background-image(linear-gradient(lighten(#4ecdc4, 10%), #4ecdc4 70%));
}

.salmon { 
    background: #ff6b6b; 
    border: 1px solid #ff6b6b;
    @include background-image(linear-gradient(lighten(#ff6b6b, 10%), #ff6b6b 70%));
}

.lime { 
    background: #97f464;
    border: 1px solid #97f464;
    @include background-image(linear-gradient(lighten(#97f464, 10%), #97f464 70%));
}

.gray { 
    background: #999;
    border: 1px solid #999;
    @include background-image(linear-gradient(lighten(#999, 10%), #999 70%));
}

.grape { 
    background: #ab64f4;
    border: 1px solid #ab64f4;
    @include background-image(linear-gradient(lighten(#ab64f4, 10%), #ab64f4 70%));
}

.transparent { 
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid #ab64f4;
}

.chart .chart-label {
    color: white;
    font-size: 1.5vw;
    width: 100%;
}

div#values-icons {
    display: inline-block;
    background-color: rgba(255,255,255,0.0);
    vertical-align: top;
}

div#icons {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#icons table {
    text-align: center;
    margin: 0 auto;
}

#icons table td {
    padding: 35px 35px;
}

#icons img {
    width: 8vw;
    height: auto;
    border-radius: 100%;
    border: solid 0.25vw #ff5400;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

/* Research section */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

div#research-section {
	margin: 0 auto;
	background: url("/static/main/css/images/research-background.jpg") no-repeat center center;
	background-size: 100% 100%;
    min-height: 100vh;
}

div#subject {
    display: block;
}
ul#note{
    overflow:hidden;
    margin: 0 auto;
}
ul#note li{
    margin:5vw;
    display: inline-block;
}
ul#note li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:auto;
    width:15vw;
    padding:1vw;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
ul#note li h2{
    font-size:100%;
    font-weight:bold;
    padding-bottom:2vh;
}
ul#note li p{
    font-size:120%;
}
ul#note li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
}
ul#note li:first-child a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
ul#note li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
ul#note li:nth-child(4n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    background:#f8c8c8;
    top:-10px;
}
ul#note li a:hover,ul#note li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}


/* https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934 */


/* Contact section */

div#contact-section {
	margin: 0 auto; 
    height: 100vh;
    min-height: 100vh;
	border-top: 1px solid #c6d2d2;
}

div#contact-section h2 {
    padding-bottom: 5vh;
}

div#contact-section table {
    margin-left: auto; 
    margin-right: auto;
}

div#contact-section table tr td {
    padding: 5px;
}

div#contact-section textarea {
    width: 100%;
}

/* Footer */

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1vh 0;
    background-color: #efefef;
    opacity: 0.95;
    text-align: center;
}

.footer p {
    display: inline-block;
    width: 90vw;
}

.footer i {
    display: inline-block;
}

/* Common */

a {
	text-decoration: none !important;
	color: inherit !important;
}

ul,li{
    list-style:none;
    padding: 0;
}

.small-icon {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.3vw;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: 'Lobster', cursive !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor:default;
}
