body {
	text-align: center;
    margin: 0;	
    padding: 0;
	font-family: Tahoma,Geneva,Arial,sans-serif !important;
    font-size:9px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-bg{
	background-color: white;
    opacity: 1;
}

/* Menu */

div.menu-nav {
 	overflow: hidden;
    background-color: white;
    width: 100vw;
	height: 10vh;
	position: fixed;
	z-index: 999;
	top: 0;
	opacity: 1;
}


table#standard-links {
	float: right;
	height: 10vh;
}

tr td#standard-link {
	color: black !important;
	padding: 10px 20px;
}

div#logo {
	float: left;
	padding: 10px 20px;
}

#logo img {
	height: 8vh;
}

/* About section */

div#about-section {
	margin: 0 auto;
	background: url("/static/main/css/images/about-background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
    min-height: 100vh;
	height: auto;
    color: #cfc8c5;
}

div#container {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div#title {
    min-width: 420px;
    padding: 35px;
}

div#chart-container-1 {
    padding: 35px;
    display: inline-block;
    background-color: rgba(255,255,255,0.0);
    height: auto;
}

div#values-icons {
    padding: 35px;
    display: inline-block;
    background-color: rgba(255,255,255,0.0);
    height: auto;
}

div#chart { 
    width: 30vw;
    min-width: 420px;
    height: auto;
} 

div#icons {
    width: 30vw;
    min-width: 420px;
    min-height: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#icons table {
    text-align: center;
    min-width: 420px;
    min-height: 260px;
    margin: 0 auto;
}

#icons table td {
    padding: 35px 35px;
}

#icons img {
    min-width: 65px;
    min-height: 65px;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.75s 0.25s;
}

#icons img:hover {
    min-width: 65px;
    min-height: 65px;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    transform: rotate(360deg);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
}

/* Separator */

div#separator {
	height: 10vh;
    min-height: 65px;
	margin: 0 auto;
}

#separator img {
    width: 65px;
    height: 65px;
    border-radius: 65px;
}

/* Research section */

div#research-section {
	margin: 0 auto;
	background: url("/static/main/css/images/research-background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
	height: auto;
    min-height: 100vh;
}

div#subject {
    padding-top: 10vh;
    display: block;
}

/* Contact section */

div#contact-section {
	margin: 0 auto; 
    height: 100vh;
    min-height: 100vh;
	border-top: 1px solid #c6d2d2;
}

div#contact-section h2 {
    padding-bottom: 5vh;
}

div#contact-section table {
    margin-left: auto; 
    margin-right: auto;
}

div#contact-section table tr td {
    padding: 5px;
}

/* Footer */

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1vh 0;
    background-color: #efefef;
    opacity: 0.95;
    text-align: center;
}

.footer p {
    display: inline-block;
    width: 90vw;
}

.footer i {
    display: inline-block;
}

/* Common */

a {
	text-decoration: none !important;
	color: inherit !important;
}

.small-icon {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.3vw;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor:default;
}
