{% load i18n %}
{% load staticfiles %}

<div id="container" class="container-fluid">
    <div id="chart-container-1">
        <h3 class="noselect header">{% blocktrans %}Competences{% endblocktrans %}</h3>
        <div id="chart">
            {% include "main/competences.html" %}
        </div>
    </div>
    <div id="values-icons">
        <h3 class="noselect header">{% blocktrans %}Values{% endblocktrans %}</h3>
        <div id="icons">
            {% include "main/values.html" %}
        </div>
    </div>
</div>
