{% load i18n %}
{% load staticfiles %}

<div class=title>
    <h1><a target="_blank" href="https://www.linkedin.com/in/kamilsorokosz/">Kamil Sorokosz</a></h1>
    <h4> Software Engineer </h4>
</div>

<div id="container">
    <div id="chart-container-1">
        <h3>{% blocktrans %}Interests{% endblocktrans %}</h3>
        <div id="chart">
            <canvas id="interests" width=20vw height=20vw></canvas>
        </div>
    </div>
    <div id="values-icons">
        <h3>{% blocktrans %}Values{% endblocktrans %}</h3>
        <div id="icons">
            <table>
            <tr>
                <td>
                    <img src="{% static 'main/css/images/cooperation.png' %}" alt="Cooperation" border="0" /> 
                </td>
                <td>
                    <img src="{% static 'main/css/images/precision.png' %}" alt="Precision" border="0" /> 
                </td>
                <td>
                    <img src="{% static 'main/css/images/knowledge.png' %}" alt="Knowledge" border="0" /> 
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'main/css/images/patience.png' %}" alt="Patience" border="0" /> 
                </td>
                <td>
                    <img src="{% static 'main/css/images/communication.png' %}" alt="Communication" border="0" /> 
                </td>
                <td>
                    <img src="{% static 'main/css/images/trust.png' %}" alt="Trust" border="0" /> 
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
