{% load i18n %}
{% load staticfiles %}

<div class=title>
    <h1>Kamil Sorokosz</h1>
    <h4> Software Engineer </h4>
</div>

<div id="container">
    <div id="chart-container-1">
        <h3>{% blocktrans %}Interests{% endblocktrans %}</h3>
        <div id="chart">
            <canvas id="interests"></canvas>
        </div>
    </div>
    <div id="values-icons">
        <h3>{% blocktrans %}Values{% endblocktrans %}</h3>
        <div id="icons">
            <table>
            <tr>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Cooperation{% endblocktrans %}" 
                         src="{% static 'main/css/images/cooperation.png' %}" 
                         alt="{% blocktrans %}Cooperation{% endblocktrans %}" border="0" /> 
                </td>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Precision{% endblocktrans %}" 
                         src="{% static 'main/css/images/precision.png' %}" 
                         alt="{% blocktrans %}Precision{% endblocktrans %}" border="0" /> 
                </td>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Knowledge{% endblocktrans %}" 
                         src="{% static 'main/css/images/knowledge.png' %}" 
                         alt="{% blocktrans %}Knowledge{% endblocktrans %}" border="0" /> 
                </td>
            </tr>
            <tr>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Patience{% endblocktrans %}" 
                         src="{% static 'main/css/images/patience.png' %}" 
                         alt="{% blocktrans %}Patience{% endblocktrans %}" border="0" /> 
                </td>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Communication{% endblocktrans %}" 
                         src="{% static 'main/css/images/communication.png' %}" 
                         alt="{% blocktrans %}Communication{% endblocktrans %}" border="0" /> 
                </td>
                <td>
                    <img data-toggle="tooltip" title="{% blocktrans %}Trust{% endblocktrans %}" 
                         src="{% static 'main/css/images/trust.png' %}" 
                         alt="{% blocktrans %}Trust{% endblocktrans %}" border="0" /> 
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
