{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<title>{% blocktrans %}Cworking++{% endblocktrans %}</title>

{% load staticfiles %}

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script type="text/javascript" src="{% static 'main/javascript/jquery-1.11.0.js' %}"></script>
<script type="text/javascript" src="{% static 'main/javascript/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/javascript/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/javascript/main.js' %}"></script>
<script type="text/javascript" src="{% static 'main/javascript/Chart.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/css/mobile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">

</head>

<body>
	<div class="body-bg">
		{% block content %}{% endblock %}
	</div>

    <footer>
    </footer> 
</body>
