{% load i18n %}
{% load staticfiles %}

<ul class="chart">
    <li class="orange noselect" style="height: 95%;" title="{% blocktrans %}digital signal processing{% endblocktrans %}">
        <div class="chart-label clickable">
            {% blocktrans %}digital signal processing{% endblocktrans %}
        </div>
        <div id="competency-1" class="transparent comptency noselect" style="display: none;">
            <p>{% blocktrans %}6+ years of experience in multimedia signal processing{% endblocktrans %}</p>
            <p>{% blocktrans %}commerically used systems for speech and audio signals analysis and enhancement{% endblocktrans %}</p>
            <p>{% blocktrans %}practitioned speech recognition and synthesis technologies{% endblocktrans %}</p>
            <p>{% blocktrans %}practitioned video steganography and encryption{% endblocktrans %}</p>
            <p>{% blocktrans %}international publications in the area of signal processing{% endblocktrans %}</p>
        </div>
    </li>
    <li class="salmon noselect" style="height: 95%;" title="{% blocktrans %}data analysis{% endblocktrans %}">
        <div class="chart-label clickable">
            {% blocktrans %}data analysis{% endblocktrans %}
        </div>
        <div id="competency-2" class="transparent comptency noselect" style="display: none;">
            <p>{% blocktrans %}6+ years of experience in data analysis{% endblocktrans %}</p>
            <p>{% blocktrans %}anomaly detection in thousands of data from annotation services{% endblocktrans %}</p>
            <p>{% blocktrans %}statistical analysis practitioned in python, Matlab and MS Excel{% endblocktrans %}</p>
            <p>{% blocktrans %}appropriate mathematical background{% endblocktrans %}</p>
        </div>
    </li>
    <li class="orange noselect" style="height: 95%;" title="{% blocktrans %}process automatization{% endblocktrans %}">
        <div class="chart-label clickable">
            {% blocktrans %}process automatization{% endblocktrans %}
        </div>
        <div id="competency-3" class="transparent comptency noselect" style="display: none;">
            <p>{% blocktrans %}3+ years of experience in process automatization{% endblocktrans %}</p>
            <p>{% blocktrans %}automatized production of audio data for machine learning purposes{% endblocktrans %}</p>
            <p>{% blocktrans %}dealing with 'muda' and ineffectiveness in a development team{% endblocktrans %}</p>
            <p>{% blocktrans %}using webservices for simplifying work{% endblocktrans %}</p>
            <p>{% blocktrans %}mentoring junior developers{% endblocktrans %}</p>
            <p>{% blocktrans %}practitioned test driven development and agile methodologies{% endblocktrans %}</p>
        </div>
    </li>
    <li class="grape noselect" style="height: 95%;" title="{% blocktrans %}system design{% endblocktrans %}">
        <div class="chart-label clickable">
            {% blocktrans %}system design{% endblocktrans %}
        </div>
        <div id="competency-4" class="transparent comptency noselect" style="display: none;">
            <p>{% blocktrans %}developing and maintening commercial systems intensively used by non-engineers{% endblocktrans %}</p>
            <p>{% blocktrans %}developing network, distributed services for data analysis and processing{% endblocktrans %}</p>
            <p>{% blocktrans %}practitioned parallelization and multithreading{% endblocktrans %}</p>
            <p>{% blocktrans %}practitioned programming on different platforms: ARM Cortex M3, Linux, Windows{% endblocktrans %}</p>
        </div>
    </li>
    <li class="gray noselect" style="height: 95%;" title="{% blocktrans %}education{% endblocktrans %}">
        <div class="chart-label clickable">
            {% blocktrans %}education{% endblocktrans %}
        </div>
        <div id="competency-5" class="transparent comptency noselect" style="display: none;">
            <p>{% blocktrans %}conducted programming courses for children and teachers{% endblocktrans %}</p>
            <p>{% blocktrans %}prepared C++ tutorial for beginners and intermediate level{% endblocktrans %}</p>
            <p>{% blocktrans %}blogging about programming and team management{% endblocktrans %}</p>
            <p>{% blocktrans %}active coursera member: leadership, data science, programming{% endblocktrans %}</p>
        </div>
    </li>
</ul>
