{% load i18n %}
{% load staticfiles %}

<ul class="chart">
    <li class="lime noselect" style="height: 95%;" title="{% blocktrans %}digital signal processing{% endblocktrans %}">
        <div class="chart-label">{% blocktrans %}digital signal processing{% endblocktrans %}</div>
    </li>
    <li class="salmon noselect" style="height: 95%;" title="{% blocktrans %}process automatization{% endblocktrans %}">
        <div class="chart-label">{% blocktrans %}process automatization{% endblocktrans %}</div>
    </li>
    <li class="orange noselect" style="height: 95%;" title="{% blocktrans %}embedded programming{% endblocktrans %}">
        <div class="chart-label">{% blocktrans %}embedded programming{% endblocktrans %}</div>
    </li>
    <li class="grape noselect" style="height: 95%;" title="{% blocktrans %}machine learning{% endblocktrans %}">
        <div class="chart-label">{% blocktrans %}machine learning{% endblocktrans %}</div>
    </li>
    <li class="gray noselect" style="height: 95%;" title="{% blocktrans %}teaching{% endblocktrans %}">
        <div class="chart-label">{% blocktrans %}teaching{% endblocktrans %}</div>
    </li>
</ul>
