{% extends "main/base.html" %}

{% block content %}
{% load i18n %}
{% load staticfiles %}

{% include "main/menu-bar.html" %}

<div id="main-section">
    {% include "main/main.html" %}
</div>

<div id="portfolio-section">
    {% include "main/portfolio.html" %}
</div>

<div id="values-section">
    {% include "main/values.html" %}
</div>

<div id="how-section">
    {% include "main/how.html" %}
</div>

<div id="services-section">
    {% include "main/services.html" %}
</div>

<div id="contact-section">
    {% include "main/contact.html" %}
</div>


{% endblock %}
