{% extends "main/base.html" %}

{% block content %}
{% load i18n %}
{% load staticfiles %}

{% include "main/menu-bar.html" %}

<div id="about-section">

</div>

<span class="anchor" id="publications-section"></span>
<div id="publications">

</div>

<div id="research-section">

</div>

<div id="contact-section">
    <form role="form" method="post" action="contact/">
        <table>
        <tr><td/><td>{% csrf_token %}</td></tr>
        {{ contact.as_table }}
        <tr><td/><td><input type="submit" value="{% blocktrans %}Send{% endblocktrans %}"></td></tr>
        </table>
    </form>
</div>


{% endblock %}
