{% load i18n %}
{% load staticfiles %}

<div class="slideshow-container">
    <div class="mySlides fading">
        <div id="first" class="image"></div>
    </div>

    <div class="mySlides fading">
        <div id="second" class="image"></div>
    </div>

    <div class="mySlides fading">
        <div id="third" class="image"></div>
    </div>
</div>

<div id="main-title">
    <h1>Cworking++ Freelancing</h1>
    <div id="separator">
        {% include "main/separator.html" %}
    </div>
</div>



