{% load i18n %}
{% load staticfiles %}

<div id="subjects">
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Therapy of Auditory Hallucinations{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Voice conversion and restoration{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Automated speech quality assurence{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Speech Enhancement Hardware/Software Design{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Data production automatization for machine learning{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}LTE Physical Layer & Stack. LTE System Level Interfaces.{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
</div>
