{% load i18n %}
{% load staticfiles %}

<div id="container" class="container-fluid">

    <ul id="note">
        <li>
            <a>
                <h2>Education #1</h2>
                <p>Programming for non-engineers</p>
            </a>
        </li>
        <li>
            <a>
                <h2>IT Process Automation #2</h2>
                <p>Consulting & Implementation</p>
            </a>
        </li>
        <li>
            <a>
                <h2>Programming #3</h2>
                <p>Dedicated systems for industry</p>
            </a>
        </li>
        <li>
            <a>
                <h2>Expertise #6</h2>
                <p>Data analysis & Multimedia Processing</p>
            </a>
        </li>
    </ul>
</div>
