{% load i18n %}
{% load staticfiles %}

<div id="publications">
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Voice hallucinations therapy{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Voice restoration{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div id="subject">
        <i data-toggle="tooltip" title="{% blocktrans %}Telecomunication{% endblocktrans %}" 
           class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
</div>
