{% load i18n %}
{% load staticfiles %}

    <a target="_blank" href="https://www.linkedin.com/in/kamilsorokosz/">
        <span class="helper"></span><img src="{% static 'main/css/images/linkedin.png' %}"/>
    </a>
    <a target="_blank" href="https://github.com/ksorokosz">
        <span class="helper"></span><img src="{% static 'main/css/images/octocat.png' %}"/>
    </a>
    <a target="_blank" href="https://www.researchgate.net/profile/Kamil_Sorokosz">
        <span class="helper"></span><img src="{% static 'main/css/images/researchgate.png' %}"/>
    </a>
