body {
	text-align: center;
    margin: 0 auto;	
	font-family: Tahoma,Geneva,Arial,sans-serif !important;
    font-size:9px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-bg{
	background-color: white;
    opacity: 1;
}

div.menu-nav {
 	overflow: hidden;
    background-color: white;
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	opacity: 1;
}

div#about-section {
	margin: 0 auto;
	background: url("/static/main/css/images/about-background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
	height: 60vw;
	width: 100%;
    color: #cfc8c5;
}

#about-section .title {
    padding-top: 95px;
}

div#container {
    padding-top: 15px;
}

div#chart-container-1 {
    display: inline-block;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgba(255,255,255,0.0);
    height: auto;
}

div#chart { 
    width: 35vw;
    height: auto;
} 

div#values-icons {
    display: inline-block;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: rgba(255,255,255,0.0);
    height: auto;
}

div#icons {
    width: 30vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

#icons table {
    text-align: center;
    margin: 0 auto;
}

#icons table td {
    padding: 2.5vw;
}

#icons img {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.75s 0.25s;
}

#icons img:hover {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    transform: rotate(360deg);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
}

div#separator {
	height: 5vw;
	margin: 0 auto;
}

#separator img {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
}

div#research-section {
	margin: 0 auto;
	background: url("/static/main/css/images/research-background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
	height: 100vw;
	width: 100%;
}

div#subjects {
    margin: 0 auto;
    display: block;
}

div#subject {
    padding-top: 80px;
    display: block;
}

/* Menu */

div#contact-section {
	margin: 0 auto; 
    padding-top:  5vw;
    padding-bottom: 10vw;
    height: 50vw;
	border-top: 1px solid #c6d2d2;
}

div#contact-section h2 {
    padding-bottom: 5vw;
}

div#contact-section table {
    margin-left: auto; 
    margin-right: auto;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1vw;
    background-color: #efefef;
    opacity: 0.95;
    text-align: center;
}

.footer p {
    display: inline-block;
    width: 90vw;
}

.footer i {
    display: inline-block;
}

table#standard-links {
	float: right;
	height: 70px;
}

tr td#standard-link {
	color: black !important;
	padding: 25px;
}

div#logo {
	float: left;
	padding: 10px;
	padding-left: 25px;
}

#logo img {
	height: 55px;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

.small-icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor:default;
}
